html, body {
    height: 100%;
    color: white;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/barbackground.jpg");
    background-color: rgba(26, 26, 26, 0.5);
    background-blend-mode: overlay;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 20px;
}

.nav-right{
    display:flex;
    margin-right: 40px;
}

.nav-item{
    margin-left: 25px;
}

.nav-item a{
    text-decoration: none;
    color: white;
}

#maker-container{
    display: flex;
    border-radius: 20px;
    border: 2px solid white;
    margin: 30px 80px;
    margin-bottom: 0px;
    height: 80%;
    background-image: url("images/woodbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.856);
    background-blend-mode: overlay;
}

#select-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transition: all 0.3s ease-in-out;
}

#select-pane{
    align-items: flex-start;
    height: 100%;
    width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 20px 0 0 20px;
    background-color: rgb(71, 44, 36);
    transition: 0.3s ease-in-out;
}

#select-pane::-webkit-scrollbar, #select-desc::-webkit-scrollbar { 
    display: none; 
}

#select-desc{
    margin: 20px 20px 10px;
    overflow-x: hidden;
    height: 20px;
}

#fold-select{
    background-color: orange;
    height: 60px;
    width: 30px;
    border-radius: 0 10px 10px 0;
}

#fold-select:hover{
    background-color: rgb(185, 121, 1);
}

.choice-name{
    padding: 10px 20px;
    margin:15px 10px 0px;
    border-radius: 5px;
}

.choice-name.active{
    background-color: rgba(255,255,255,0.3)
}

.choice-items{
    margin: 0px 15px;
    flex-wrap: wrap;
    width: 290px;
    display: none;
    overflow-x: hidden;
}

.choice-item, .glass{
    height: fit-content;
    width: 70px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: 12px;
}

.glass img{
    height: 70px;
    width: 70px;
}

.choice-item.selected, .glass.selected{
    background-color: rgba(139, 139, 139, 0.43);
}

#preview{
    width: 40%;
    height: 70%;
    margin: 11% auto 0px;
    background-color: lightyellow;
    transition: 0.5s ease-in-out;
}

.glasstype{
    display: none;
    color: black;
}

.button{
    height: 45px;
    width: 70px;
    padding: 0 20px;
    border-radius: 25px;
    background-color: yellow;
    margin: 15px;
}

#finish-button{
    position: absolute;
    width: fit-content;
    left: 84%;
    top: 80%;
    background-color: blueviolet;
    text-align: center;
}

#finish-button .button-text{
    margin-top: 10px;
}

#finished{
    display: none;
    margin: 20px auto;
    width: 500px;
    justify-content: space-evenly;
    text-align: center;
    transition-delay: 0.5s;
}