@font-face{
    font-family: 'Romantic Beach';
    src: font-url('RomanticBeach.ttf');
}

html, body {
    height: 100%;
    color: white;
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 0;
}

body{
    background-image: url("barbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.5);
    background-blend-mode: overlay;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 17px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5)
}

.nav-right{
    display:flex;
    margin-right: 40px;
}

.nav-item{
    margin-left: 25px;
    a{
        text-decoration: none;
        color: white;
    }
}

#maker-container{
    display: grid;
    grid-template-columns: [selector]320px [recipe]25% [pane]35% [button]10%;
    grid-template-rows: 15% [pane]35% [recipe]30% [button]20%; /* the layout is up to edits */

    border-radius: 20px;
    border: 2px solid white;
    margin: 50px 80px;
    margin-bottom: 0px;
    height: 80%;
    background-image: url("woodbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.856);
    background-blend-mode: overlay;
}

#select-wrapper{
    grid-column: selector; 
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.choice-item.selected, .glass.selected, .extra-item.selected{
    background-color: rgba(139, 139, 139, 0.43);
}

#preview{
    grid-column: pane;
    grid-row: pane;
    justify-content: end;
}

.glasstype{
    display: none;
}

.active-glass{
    #ice, #lemon, #lime, #strawberry, #cinnamon, #orange, #lemonzest, #cherry, #irishcream , #celery{
        visibility: hidden;
        &.selected{
            visibility: visible;
        }
    }
}

#select-pane{
    align-items: flex-start;
    height: 100%;
    width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 20px 0 0 20px;
    background-color: rgb(71, 44, 36);
    /*transition: 0.3s ease-in-out;*/
}

#select-pane::-webkit-scrollbar, #select-desc::-webkit-scrollbar { 
    display: none; 
}

#select-desc{
    margin: 20px 20px 10px;
    overflow-x: hidden;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
}

#fold-select{
    background-color: orange;
    height: 60px;
    width: 30px;
    border-radius: 0 10px 10px 0;
    &:hover{
        background-color: rgb(185, 121, 1);
    }
}

.choice{
    border-radius: 5px;
    padding-bottom: 15px;
    margin: 0 2px 15px 2px;
    transition: all 0.3s ease-in-out;
    .choice-name{
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
    }
    &.active{
        background-color: rgba(255, 255, 255, 0.11);
        transition: all 0.3s ease-in-out;
    }
}

.choice-items{
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 290px;
    display: none;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    .choice-item, .extra-item{
        height: 40px;
        width: 70px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        margin: 5px;
        font-size: 12px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

.glass{
    height: fit-content;
    width: 70px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
    img{
        height: 70px;
        width: 70px;
    }
}

.button{
    height: 45px;
    width: fit-content;
    padding: 0px 20px 0px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    color: white;
    margin: 5px;
    cursor: pointer;
    .button-text{
        margin-top: 10px;
        font-weight: 700;
        cursor: pointer;
    }
}

#enter-name{
    display: none;
    grid-column : finished;
    grid-row: pane;
    justify-content: center;
    margin: 20px auto;
    .button{
        margin: 0 auto; 
    }
}

input{
    margin: 0 10% 15px;
    width: 80%;
    height: 30px;
    font-size: 17px;
}

#finish-button{
    grid-column: button;
    grid-row: button;
    justify-self: center;
    width: fit-content;
    background-image: linear-gradient(45deg, #a6c0fe 0%, #f68084 100%);
    text-align: center;
    padding-top:0;
}

#final-result{
    display: none;
    margin-top: 20px;
    #title-desc{
        text-align: center;
        #name-output{
            font-size: 25px;
            font-weight: 900;
        }
        #desc-output{
            font-size: 17px;
            font-weight: 400;
        }
    }
    #finished{
        display: flex;
        margin: 20px auto;
        place-self: stretch;
        align-self: center;
        justify-content: space-evenly;
        justify-self: center;
        text-align: center;
        transition-delay: 0.5s;
        grid-column : finished;
        grid-row: pane;
    }
    
}
#previewcanvas{
    display:none;
}

#recipe{
    background-image: url("recipe.png");
    background-size: cover;
    background-position-x: center;
    grid-row-start: recipe;
    grid-row-end: 5;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    color: black;
    font-size: 24px;
    text-align: center;
    font-family: 'Romantic Beach';
    li{
        margin: 10px 0px 0px 70px;
        display: flex;
        font-size: 17px;
        vertical-align: center;
        font-family: 'Noto Sans KR';
        .recipe-color{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-right: 20px;
            border: 0.2px black solid;
        }
    }
}