@font-face{
    font-family: 'Romantic Beach';
    src: font-url('RomanticBeach.ttf');
}

html, body {
    height: 100%;
    color: white;
    font-family: 'Roboto', 'Noto Sans KR';
    margin: 0;
    padding: 0;
}

body{
    background-image: image-url("barbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.5);
    background-blend-mode: overlay;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 17px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-right{
    float:right;
    display:flex;
    margin-right: 40px;
}

.nav-item{
    margin-left: 25px;
}

.nav-item a{
    text-decoration: none;
    color: white;
}

/* Swipe 2 required styles */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height:100%;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* END required styles */

.swipe-wrap > div {
    margin: 0; }
.swipe-wrap > div b {
    display: block;
    margin: 4em 1.5em 2em;
    padding: 0 1em ;
    font-size: 2em;
    text-align: center; 
    height: 100px;
}

.outercontainer{
    border-radius: 20px;
    border: 2px solid white;
    margin: 50px 80px;
    margin-bottom: 0px;
    height: 80%;
    background-color: rgba(0,0,0,0.3);
    background-image: url("woodbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(26, 26, 26, 0.856);
    background-blend-mode: overlay;
}

.questioncontainer  {
    height: 100%;
    display: grid;
    grid-template-columns: 12.5% 12.5% [choice-1]25% [choice-2]25% 12.5% 12.5%;
    grid-template-rows: [question]50% [choices]50%;
    .question{
        grid-row: question;
        grid-column-start: 2;
        grid-column-end: 6;
    }
    #start{
        width: 150px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        grid-row: choices;
        grid-column-start: choice-1;
        grid-column-end: 5;
        place-self: center;
        margin-top: -20%;
        border-radius: 30px;
    }
    .L, .R, .CL, .PL, .PR{
        width: 320px;
        height: 500px;
        background-color: white;
        text-align: center;
        color: black;
        font-size: 17px;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        transition: all 0.3s ease-out;
        grid-row: choices;
        &:hover{
            background-color: rgb(231, 231, 231);
            margin-top:0px;
            transition: all 0.3s ease-out;
        }
        img{
            width: 50%;
            height: auto;
            margin: 30px auto 20px;
        }
    }
    .L, .CL, .PL{
        border-right: solid 1px black;
        grid-column: choice-1;
    }
    
    .R, .PR{
        border-left: solid 1px black;
        grid-column: choice-2;
    }
    
    .choice-text{
        margin: 0px 12px;
    }
}

/*       */
/*.answercontainer .btn{*/
/*position : absolute;*/
/*    left: 50%;*/
/*    top: 80%!important;*/



/*}*/

.answercontainer{
    height:100%;
    .answer{
        height:100%;
        display: grid;
        grid-template-columns: [cocktail]35% [desc]65%;
        grid-template-rows: [title]15% [body]65% [button]20%;
        #answer-image{
            grid-column: cocktail;
            grid-row: body;
            margin-top: 10px;
            #lemon, #lime, #strawberry, #cinnamon, #orange, #lemon_zest, #cherry, #cream , #celery{
                display:none;
            }
        }
        .answer-desc{
            margin-left: -10%;
            margin-top: -5%;
            grid-column: desc;
            grid-row: body;
            display: grid;
            grid-template-rows: [title]20% [else]80%;
            grid-template-columns: [recipe]40% [description]60%;
            #answer-titles{
                margin-left: -20%;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                grid-row: title;
                grid-column-start: recipe;
                grid-column-end: description-end;
                #answer-subtitle{
                    font-size: 22px;
                    font-style: italic;
                    font-weight: 200;
                }
            }
            #recipe{
                background-image: url("recipe.png");
                background-repeat: no-repeat;
                background-image: url("recipe.png");
                background-size: cover;
                background-position-x: center;
                margin: 0;
                padding-top: 30px;
                color: black;
                font-size: 30px;
                text-align: center;
                font-family: 'Romantic Beach';
                li{
                    margin: 10px 0px 0px 40px;
                    display: flex;
                    font-size: 20px;
                    vertical-align: center;
                    font-family: 'Noto Sans KR';
                    .recipe-color{
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        margin-right: 20px;
                        margin-top: 4px;
                        border: 0.2px black solid;
                    }
                }
            }     
            #answer-text{
                grid-column: description;
                width: 80%;
                margin: 30px 0 auto 20px;
                font-size: 18px;
            }
        }  
        #replay-button{
            width: 90px;
            grid-row: button;
            grid-column: desc;
            justify-self: end;
            margin: 0 50px 100px 85%;
        } 
    }
}

.button{
    height: 45px;
    width: fit-content;
    padding: 0px 20px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    color: white;
    margin: 15px;
    font-weight: 700;
    text-align: center;
    transition: all 0.3s ease-out;

    cursor: pointer;
}

#replay-button{
    width: 90px;
    align-self: flex-end;
    margin: 0 50px 100px 85%;
}

#replay-button .button-text{
    padding-top: 10px;
}

.button:hover{
    background-color: rgba(0,0,0, 0.3);
    background-blend-mode: overlay;
    transition: all 0.3s ease-out;
}